@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

html,body {
  min-height: 100vh;
  max-width: 100%;
}

.mytodo-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  color: aliceblue;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 800px;
  min-height: 100%;
  text-align: center;
  padding: 3px;
}

.theme-select {
  position:absolute;
  margin-top: 0;
  color: black;
  justify-content: end;
  max-width: 2em;
  height: 2em;
  margin: 20px;
  margin-left: 80px;
  font-size: large;
  border-radius: 20px;
  background-image:linear-gradient(red,rgb(3, 211, 3),cyan);
}


[data-theme='default'] li {
  background-color: #FFF
}
[data-theme='default'] .text {
  background-color: #FFF
}
[data-theme='default'] body {
  height: 100%;
  margin-top: 0;
  background-color: rgb(255, 255, 115);
}
[data-theme='default'] .mytodo-list {
  height: 100%;
  margin-top: 0;
  background-color: rgb(255, 255, 115);
}


[data-theme="cupcake"] h1 {
  background-color: rgb(255, 228, 196);
  color: rgb(240, 171, 88);
}
[data-theme="cupcake"] body {
  background-color: rgb(255, 193, 116);
}
[data-theme="cupcake"] .mytodo-list {
  background-color: rgb(255, 193, 116);
}
[data-theme="cupcake"] .add-btn {
  background-color: rgb(56, 31, 0);
  color: #FFF;
}
[data-theme="cupcake"] .reset-btn {
  background-color: rgb(255, 140, 0);
}
[data-theme="cupcake"] li,.text{
  background-color: rgb(247, 172, 82);
}

[data-theme ="dark"] .text,li {
  background-color: black;
  color: #FFF;
}
[data-theme ="dark"] h1 {
  background-color: black;
  color: rgb(253, 145, 21);
}
[data-theme ="dark"] body {
  background-color: rgb(27, 24, 24);
}
[data-theme ="dark"] .mytodo-list {
  background-color: rgb(27, 24, 24);
}
[data-theme ="dark"] .add-btn {
  background-color: rgb(4, 63, 4);
  color: #FFF;
}
[data-theme ="dark"] .reset-btn {
  background-color: rgb(236, 59, 59);
  color: #FFF;
}
[data-theme ="dark"] select {
  color: #FFF;
}
[data-theme ="dark"] input {
  color: #FFF;
}

[data-theme ="winter"] h1 {
  background-color: aqua;
  color: rgb(28, 163, 163);
}
[data-theme ="winter"] body {
  background-color: rgb(202, 255, 255);
}
[data-theme ="winter"] .mytodo-list {
  background-color: rgb(202, 255, 255);
}
[data-theme ="winter"] .add-btn {
  background-color: rgb(0, 55, 80);
  color: #FFF;
}
[data-theme ="winter"] .reset-btn {
  background-color: rgb(57, 121, 121);
  color: #FFF;
}
[data-theme ="winter"] li {
  background-color: rgb(127, 255, 249);
}
[data-theme ="winter"] .text {
  background-color: rgb(127, 255, 249);
}

.input-div {
  margin-top: 2%;
}

select {
  border: gray 1px solid;
}

h1 {
  font-size: 3rem;
  color: rgb(95, 47, 1);
  border-width: 2px;
  font-weight: 600;
  border-color: #FFF;
  background-color: rgb(255, 145, 0);
  font-style: italic;
  text-decoration:line-through;
  text-decoration-color: white ;
  font-family:"Noto Serif", serif;
}

.ol{
  margin-top: 100px;
}

.text {
  color: black;
  min-height: 28px ;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  flex: 1;
}

.btn {
  margin: 3px;
  border-radius: 5px;
  min-height: 30px;
  font-weight: 500;
  color: rgb(38, 0, 63);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 7px 15px;
  border: none;
}


input {
  border-radius: 5px;
  height: 40px;
  font-size: 1.6rem;
  border: 2px solid gray;
  color: black;
  padding: 3px;
}

.add-btn, .reset-btn {
  padding: 8px;
}

.add-btn {
  background-color: rgb(153, 255, 0);
  color: rgb(34, 31, 31);
  margin-left: 3px;
  font-weight: 700;
} 

.reset-btn {
  background-color: rgb(247, 247, 26);
  color: rgb(39, 36, 36);
  font-weight: 700;
}

.delete-btn {
  background-color: rgb(231, 0, 0);
  color: black;
  width: 50px;
}

.complete-btn {
  background-color: rgb(84, 100, 60);
  color: black;
  width: 50px;
}


li {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 15px;
  text-align: start;
  margin-left: 20%;
  align-items: center;
  display: flex;
  margin: 10px;
  border-radius: 40px;
}

ol {
  padding: 0;

}

@media(max-width:670px) {
 .input-div {
  display: flex;
  flex: 1;
  margin-left: 2%;
 }

 input , .add-btn, .reset-btn {
  height: 50px;
 }

 input {
  width: 50%;
 }
 .add-btn, .reset-btn {
  font-size: 1.3rem;
 }
}

@media(max-width:597px) {
  .add-btn, .reset-btn, input,.delete-btn,.movedown-btn,.moveup-btn,.text {
    font-size: 1.2rem;
}

  .text {
    flex: 1;
  }

  li {
    max-width: 84%
  }
}

@media(max-width:532px) {
  .add-btn, .reset-btn, input,.delete-btn,.movedown-btn,.moveup-btn,.text {
    font-size: 1.1rem;
  }
  .theme-select {
    margin-left: 40px;
  }
}
@media(max-width:430px) {
  li {
    max-width: 100%;
  }
  .input-div {
    display: flex;
  }
  input{
    flex: 10;
  }
  .theme-select {
    margin-left: 20px;
  }
}
@media(max-width:418px) {
  .reset-btn {
    font-size: .8rem;
    height: max-content;
  }
  .add-btn {
    font-size: .8rem;
    height: fit-content;
  }
  h1 {
    font-size: 30px;
  }
  .theme-select {
    height: 30px;
    width: 30px;
  }
  input {
    height:min-content
  }
  li {
    font-size: 10px;
  }
  .theme-select {
    margin: 10px;
    margin-left: 30px;
  }
}
@media(max-width:330px) {
  .input-div {
    display:flex ;
    flex-direction: column;
  }
 input {
  width: 100%;
 }
}
@media(max-width:300px) {
  .theme-select {
    width: 20px;
    height: 20px;
    margin-top: 15px;
  }
}
@media(max-width:265px) {
  h1 {
    text-align: start;
  }
  .theme-select {
    margin-left: 10px;
  }
}
@media(max-width:235px) {
  li {
    display: flex;
    flex-direction: column;
  }
}